.menu__line {
    display: inline-block;
    width: 100%;
    background-image: url(../images/background_menu-image.png);
    background-size: cover;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    padding: 40px 0 20px;
    text-align: center;

}

.title__bar,
.title__food {
    color: var(--ui-brand-color);
    font-family: 'Shadows Into Light';
    font-size: 21px;
    text-align: center;
    margin-top: 40px;

}

.menu__bar h2,
.menu__food h2 {
    font-family: 'Teko', 'Sans-serif';
    font-size: 51px;
    text-transform: uppercase;
    color: var(--ui-main-text-color-light);
    text-align: center;
    opacity: 1;
}

.menu__bar h4,
.menu__food h4 {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 19px;
    color: var(--ui-block-description-color);
    text-align: center;
    margin: 30px;
    line-height: 1.6;
}

.bar__carousel,
.food__carousel {
    margin: 20px;
    padding: 24px;
}

.carousel__slide-container span,
.menu__slide-container span {
    text-transform: uppercase;
    color: var(--ui-brand-color);
    font-family: 'Teko', sans-serif;
    display: flex;
    text-decoration: none;
    font-size: 26px;
    min-width: max-content;
    line-height: normal;
    margin-bottom: 20px;

}

.menu__food-image {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.bar__name,
.food__name {
    color: var(--ui-main-text-color-light);
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    display: flex;
    text-decoration: none;
    font-size: 26px;
    min-width: max-content;
    line-height: normal;
}

.container__line {
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

.underline {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--ui-text-color);
    height: 20px;
    flex-grow: initial;
    margin: 7px auto;

}

.bar__about,
.food__about {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: var(--ui-text-color);
    margin-bottom: 1.6rem;
}

.bar__price,
.food__price {
    color: var(--ui-brand-color);
    font-family: 'Teko', sans-serif;
    display: flex;
    font-size: 26px;
}

.food__carousel {
    position: relative;
}

@media (min-width: 500px) {
    .menu__food-image {
        padding-left: 40px;
        padding-right: 40px;

    }
}

@media (min-width: 1000px) {
    .menu__food-image {
        padding-left: 80px;
        padding-right: 80px;

    }

    .bar__carousel {
        padding-left: 80px;
        padding-right: 80px;

    }

    .food__carousel {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (min-width: 1200px) {
    .menu__food-image {
        padding-left: 120px;
        padding-right: 120px;
    }
}

.bar__carousel,
.food__carousel {
    border: 2px solid var(--ui-brand-color);
    max-width: 100%;
}

.carousel__item {
    display: flex;
    transition: all ease 1s;
    flex-direction: column;
    position: relative;
}

.carousel__slide-container,
.menu__slide-container {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    border:2px solid var(--ui-brand-color);

}
.sort__item{    
    margin-right: 10px;
}