.menu__line {
    display: inline-block;
    width: 100%;
    background-color: var(--main-title-color);
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    padding: 40px 0 20px;
    text-align: center;

}

.title__bar,
.title__food {
    color: var(--ui-brand-color);
    font-family: 'Shadows Into Light';
    font-size: 21px;
    text-align: center;
    margin-top: 40px;

}

.menu__bar h2,
.menu__food h2 {
    font-family: 'Teko', 'Sans-serif';
    font-size: 51px;
    color: var(--ui-main-text-color-light);
    text-align: center;
    opacity: 1;
}

.menu__bar h4,
.menu__food h4 {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 19px;
    color: var(--ui-block-description-color);
    text-align: center;
    margin: 30px 15px 30px 25px;
    line-height: 1.6;
}

.bar__carousel,
.food__carousel {
    margin: 20px;
    padding: 24px;
}

.menu__food-image {

    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    justify-content: center;

}

.best__dish {
    display: flex;
    flex-direction: column;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.bar__name,
.dish__name {
    color: var(--ui-main-text-color-light);
    font-family: 'Teko', sans-serif;
    display: flex;
    text-decoration: none;
    font-size: 26px;
    min-width: max-content;
    line-height: normal;
}

.container__line {
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

.underline {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--ui-text-color);
    height: 20px;
    flex-grow: initial;
    margin: 7px auto;

}

.bar__about,
.food__about {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: var(--ui-text-color);
}

.bar__price,
.dish__price {
    color: var(--ui-brand-color);
    font-family: 'Teko', sans-serif;
    display: flex;
    font-size: 26px;
}

@media (min-width: 500px) {
    .sort__img img {
        width: 230px;
        height: 230px;
        margin: 5px;
    }

}

@media (min-width: 700px) {
    .sort__img img {
        width: 250px;
        height: 250px;
    }
}