.beer-boutique {
    height: 100%;
    padding: 0;
    margin: 0;
}

.beer-boutique__background-video {
    filter: brightness(70%) blur(0.5px);
    height: 100vh;
    width: 100vw;
}

.beer-boutique__container {
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 200px;
    align-items: center;
    position: relative;
    margin-top: -450px;
    line-height: 50px;   
    display: flex;
    /*position: absolute;
    top: 250px;*/
}

.beer-boutique__enjoy {
    color: var(--beer-boutique__enjoy);
    font-family: 'Shadows Into Light';
    font-style: inherit;
    font-size: 14px;
}

.beer-boutique__title {
    color: var(--beer-boutique__enjoy);
    font-family: Teko, sans-serif;
    font-size: 62px;
}

.beer-boutique__subtitle {
    color: var(--beer-boutique__header-color);
    font-family: "Open Sans", sans-serif;
    line-height: normal;
    font-size: 19px;
}

.beer-boutique__subtitle, h1 {
    text-align: center;
}

.beer-boutique__reserve-table {
    background-color: var(--ui-brand-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 30px;
    height: 65px;
    width: 230px;
}

.beer-boutique__button {
    color: var(--beer-boutique__reserve-table);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

@media (min-width: 768px) {

    .beer-boutique__title br,
    .beer-boutique__subtitle br {
        display: none;
    }

    .beer-boutique__container {
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-end;
        margin-right: 10%;
        padding-top: 10px;
    }
}