.blog {
    /* Temporary local background */
    background-image: var(--ui-background-img); 
    background-repeat: repeat;
    padding: 60px 0 130px;
}

.blog__header {
    margin: 0 120px;
    padding: 30px 15px;
}

.blog__text {
    margin-bottom: 25px;
    text-align: center;
    color: var(--ui-brand-color);
    font-family: 'Shadows Into Light', cursive;
    font-size: 28px;
}

.blog__title {
    margin-bottom: 25px;
    text-align: center;
    color: var(--ui-main-text-color-light);
    font-family: 'Teko', sans-serif;
    font-size: 62px;
    font-weight: 300;
}

.blog__description {
    margin-bottom: 25px;
    text-align: center;
    color: var(--ui-text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
}

.blog__post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 135px;
}

.blog__post img {
    display: block;
    width: 100%;
}

.blog__post-category {
    margin: 25px 0;
    color: var(--ui-brand-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 15px;
}

.blog__post-title {
    margin-bottom: 25px;
    color: var(--ui-main-text-color-light);
    font-family: 'Teko', sans-serif;
    font-size: 38px;
    font-weight: 300;
}

.blog__post-description {
    color: var(--ui-text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.blog__post-button {
    margin-top: 40px;
}

.blog__post-link {
    margin: 25px 0;
    padding: 18px 40px;
    color: var(--ui-main-text-color-light);
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    border-color: var(--ui-main-text-color-light);
    border: solid;
    transition: background-color 0.5s;
}

.blog__post-link:hover {
    border-color: var(--ui-main-text-color-light);
    background-color: var(--ui-main-text-color-light);
    color: var(--ui-link-color);
}