*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ui-brand-color: #ffc123;
  --ui-dark-accent-color: #444343;
  --ui-block-title-color: #111;
  --ui-light-accent-color: #fcfaf8;
  --ui-link-color: #1d1f23;
  --ui-link-color-light: #ffc962;
  --ui-main-text-color-light: #fff;
  --ui-text-dark-color: #373737;
  --ui-text-color: rgb(157,157,157);
}

body {
  padding: 0 15px;
  background-color: #4e4949;
}
ul {
  list-style-type: none;
}
a {
  text-decoration:none;
}
.title-section {
  font-family: 'Shadows Into Light', cursive;
  font-size: 21px;
  text-align: center;
  color: #ffc123;
}