@import "music.css";
@import "global.css";
@import "menu-section.css";
@import "what-we-offer.css";
@import "footer.css";
@import "about-beer-boutique.css";




/* 
Added fonts to the project

font-family: 'Open Sans', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Shadows Into Light', cursive;

 */
