.partners__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--ui-brand-color); 
    height: 210px;
}
.partners__carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
.carousel-item {
    background-color: var(--ui-background-color);
    height: 150px;
    width: 389px;
}
.carousel-img-bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 89px;
    width: 344px;
    margin: 31px 27px;
}
.carousel-img {
    max-width: 100%;
    max-height: 80px;
    max-width: 312px;
    margin: 0 30px;
    background-color: var(--ui-background-color);
}

.partners__carousel__btn-prev {
    transform: rotateY(180deg);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--ui-bg-dark-accent-btn-color);
    fill: var(--ui-fill-btn-color);
    cursor: pointer;
}

.partners__carousel__btn-next {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--ui-bg-dark-accent-btn-color);
    fill: var(--ui-fill-btn-color);
    cursor: pointer;
}
@media (min-width: 1200px) {
    .partners__carousel__btn-prev {
        width: 30px;
        height: 30px;
        background: none;
        border: none;
    }
    .partners__carousel__btn-next {
        width: 30px;
        height: 30px;
        background: none;
        border: none;
    }
}