.products {
  padding: 90px 0 65px;
  max-width: 1230px;  
  margin: auto;
}

.products__title {
  padding: 0 30px 20px;
}

.products__subtitle {
  padding: 0 30px 20px;
}

.products__description {
  padding: 0 30px 25px;
}

.products__carousel--article-description {
  font-family: var(--main-font);
  font-size: 1.1em;
  line-height: 1.4em;
  color: var(--main-color);
  margin: 0 0 20px;
}

.products__carousel {
  position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.products__carousel-slide {
  flex: 0 0 100%;
  padding: 30px;
  margin: 0 20px 0 0;
}

  .products__carousel-container {
    display: flex;
    align-content: center;
    margin: 0;
    transition: transform 0.5s ease-in-out;
  }

.products__carousel--slide-image {
  width: 100%;
}

.products__carousel--slide-image img {
  width: 32%;
  display: block;
  margin: auto; 
}

.products__carousel-article {
  padding: 20px 30px;
}

.products__carousel--article-detail,
.products__carousel--article-note {
  color: var(--main-details-color);
  font-size: 1.15em;
  line-height: 1.4em;
}

.products__carousel--article-title {
  font-family: var(--main-heading-font);
  font-size: 2.4em;
  line-height: 1.05em;
  font-weight: normal;
  color: var(--main-heading-color);
  text-transform: uppercase;
  margin: 0 0 25px;
}

.products__carousel--article-details {
  margin: 0 0 23px;
  padding: 0;
}

.products__carousel--btn-prev,
.products__carousel--btn-next {
  padding: 3px;
  background: var(--arrow-background);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
  position: relative;
  z-index: 9;
  margin: 0 0 0 20px;
}

.products__carousel--btn-next {
  margin: 0 20px 0 0;
}

.products__carousel--btn-prev img,
.products__carousel--btn-next img{
  width: 21px;
  height: 21px;
}

.products__carousel--btn-prev:hover,
.products__carousel--btn-next:hover {
  opacity: 1;
}

 @media (max-width: 700px) {

  .products__carouse {
    position: relative;  
    padding: 0 50px;
  }
  
  .products__carousel-container {
    padding: 0 35px;
  }
  
  .products__carousel--btn-prev,
  .products__carousel--btn-next {
    position: absolute;
    top: 50%;
    left: 10px;
  }

  .products__carousel--btn-next {
    left: auto;
    right: 10px;
  }
  
}

 @media (min-width: 980px) {

  .products__carousel--article-title {
    font-size: 3.6em;
    line-height: 1.05em;
    margin-bottom: 30px;
  }

  .products__carousel--article-description {
    font-size: 1.21em;
    line-height: 1.45em;
    margin: 0 0 24px;
  }

  .products__carousel--article-details {
    margin: 0 0 29px;
  }

  .products__carousel--article-detail,
  .products__carousel--article-note {
    font-size: 1.15em;
    line-height: 1.5em;
  }
  
  .products__carousel-slide {
    flex: 0 0 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .products__carousel-container {
    display: flex;
    align-content: center;
    margin: 0;
    padding: 35px 0;
    transition: transform 0.5s ease-in-out;
  }

  .products__carousel-article {
    display: flex;
    padding: 42px 50px;
    margin: 0;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .products__carousel--slide-image {
    flex: 1;
    padding: 0 8px;
  }

  .products__carousel--slide-image img {
    width: 100%; 
  }

  .products__carousel--btn-prev,
  .products__carousel--btn-next {
    background: none;
    border-radius: 0;
    padding: 0;
  }
  .products__carousel--btn-prev img,
  .products__carousel--btn-next img {
    width: 30px;
    height: 30px;
  }
  
}