<section class="hiring-and-boutique">
    <div class="container__hiring-and-boutique">
        <div class="hiring">
            <div class="hiring__text">
                <h2 class="hiring__title">WE ARE HIRING!</h2>
                <p class="hiring__subtitle">We are always looking for communicable waiters and professional bartenders.
                </p>
                <div class="">
                    <a class="hiring__btn" href="#">JOIN OUR TEAM</a>
                </div>
            </div>
        </div>
        <div class="boutique">
            <img src="./images/about-three-glass-beer.jpg" alt="BEER">
            <h2 class="boutique__title">BEER BOUTIQUE</h2>
            <p class="boutique__text">We are craft beer fans!</p>
        </div>
    </div>
</section>