<section class="hiring">
    <div class="container">
        <div class="hiring__text">
            <span class="hiring__title">WE ARE HIRING!</span>
            <p class="hiring__subtitle">We are always looking for communicable waiters and professional bartenders.</p>
        </div>
        <div class="hiring__btn">
            <a href="#">JOIN OUR TEAM</a>
        </div>
    </div>
</section>
<section class="boutique">
    <div class="container">
        <h2 class="boutique__title">BEER BOUTIQUE</h2>
        <span class="boutique__text">We are craft beer fans!</span>
    </div>
</section>