<section class="about-beer-boutique"></section>
<div class="about-beer-boutique__title">
   <h2 class="about-beer-boutique__name">ABOUT BEER BOUTIQUE</h2>
</div>
<div class="about-beer-boutique__image">
   <img src="images/about-beer-boutique-main.png" alt="about beer boutique">
</div>
<div class="about-beer-boutique__text">
   <h3 class="about-beer-boutique__subtitle">Our story</h3>
   <p class="about-beer-boutique__large__text">Our story</p>
   <p2 class="about-beer-boutique__medium__text"></p2>
   <p3 class="about-beer-boutique__small__text">
      Our main goal has always been to create a pub with the best selection of beers and simple food.</p3>
   <p4 class="about-beer-boutique__article"> Our selection of beers is a result of long and scrupulous
      experiments that give us thousands of taste combinations.
      Each and every beer of ours has a unique recipe and a solid standard of preparation, supervised closely by our
      beer
      masters.We want you to feel all the richness of an original draft beer and also offer a wide variety of bottled
      beers from the best local producers.</p4>
</div>