<section class="beer-boutique">
    <iframe src="https://player.vimeo.com/video/692259047?autoplay=1&controls=0" width="640" height="360"
        frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <p class="beer-boutique__enjoy">Enjoy youe beer!</p>
    <h1 class="beer-boutique__title">BEER BOUTIQUE</h1>
    <p class="beer-boutique__subtitle">The best comes with the best foods!</p>
    <div class="beer-boutique__reserve-table">
        <a href="#">REVERSE A TABLE</a>
    </div>
</section>