<section class="beer-boutique">
    <iframe class="beer-boutique__background-video" src="https://player.vimeo.com/video/692259047?autoplay=1&controls=0"
        frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <div class="beer-boutique__container">
        <p class="beer-boutique__enjoy">Enjoy your beer!</p>
        <h1 class="beer-boutique__title">BEER BOUTIQUE</h1>
        <p class="beer-boutique__subtitle">The best comes with the best foods!</p>
        <div class="beer-boutique__reserve-table">
            <a class="beer-boutique__button" href="#">REVERSE A TABLE</a>
        </div>
    </div>
</section>