<section class="beer-boutique">
  <div class="beer-boutique__wrapper">
    <div class="beer-boutique__background-video-box">
      <iframe 
        class="beer-boutique__background-video" 
        src="https://player.vimeo.com/video/692259047?autoplay=1&background=1"
        frameborder="0" 
        allow="autoplay; fullscreen" 
        allowfullscreen
        title="Video Title">
      </iframe>
    </div>
    <div class="beer-boutique__content-wrapper">
      <div class="beer-boutique__container">
        <p class="beer-boutique__enjoy">Enjoy your beer!</p>
        <h1 class="beer-boutique__title">BEER BOUTIQUE</h1>
        <p class="beer-boutique__subtitle">The best comes with the best foods!</p>
        <div class="beer-boutique__reserve-table">
          <a class="beer-boutique__button" href="#">REVERSE A TABLE</a>
        </div>
      </div>
    </div>
  </div>
</section>