<section class="top__choice">
    <p class="title__topChoice">Top choice</p>
    <h2>OUR BEST OFFERS</h2>
    <h4>Enjoy your meai at Beer Boutique!</h4>
    <div class="choice__image">
        <img src="images/first.jpg" alt="french-fries">
        <img src="images/second.jpg" alt="beer">
        <img src="images/third.jpg" alt="burger">
        <img src="images/fourth.jpg" alt="time-with-friend">
    </div>
    <div class="container best__dish">
        <div>
            <h3 class="dish__name">SPICY NACHOS</h3>
            <h3 class="dish__price">$15</h3>
            <p>Cheddar cheese, jalapenos, queso fresco, sour cream, salsa, guacamole, beer cheese sauce + 3 sauces
                on
                your choice</p>
        </div>
        <div>
            <h3 class="dish__name">FISH & CHIPS</h3>
            <h3 class="dish__price">$12</h3>
            <p>Our iconic dish paired with any draft or bottled beer: ale battered cod, coleslaw, French fries, and
                tartar sauce</p>
        </div>
        <div>
            <h3 class="dish__name">CHICKEN WRAP</h3>
            <h3 class="dish__price">$18</h3>
            <p>Grilled chicken, honey bacon, tomato, fresh cucumber, lettuce, avocado, village sauce, and whole -
                wheat wrap.</p>
        </div>
        <div>
            <h3 class="dish__name">FRIED CALAMARY</h3>
            <h3 class="dish__price">$12</h3>
            <p>Another iconic snack paired with beer: fried calamari served with spicy tartar saause and dill aioli.
            </p>
        </div>
        <div>
            <h3 class="dish__name">BEER BOUTIQUE PIZZA</h3>
            <h3 class="dish__price">$18</h3>
            <p>Goat cheese, red onion, baby spinach, pepperoni, smoked sausages, ham, and spicy beer sauce</p>
        </div>
        <div>
            <h3 class="dish__name">CLASSIC BURGER</h3>
            <h3 class="dish__price">$14</h3>
            <p>Beef, tomato, pickle, lettuce, cucumber, cheddar cheese, bacon, ketchup, and American mustard</p>
        </div>
    </div>
    <a href="#">WATCH ALL MENU</a>
</section>