<section class="top__choice">
    <p class="title__topChoice">Top choice</p>
    <h2>OUR BEST OFFERS</h2>
    <h4>Enjoy your meat at Beer Boutique!</h4>
    <div class="choice__image">
        <div class="sort__img"><img src="images/first.jpg" alt="french-fries"></div>
        <div class="sort__img"><img src="images/second.jpg" alt="beer"></div>
        <div class="sort__img"><img src="images/third.jpg" alt="burger"></div>
        <div class="sort__img"><img src="images/fourth.jpg" alt="time-with-friend"></div>
    </div>
    <div class="container best__dish">
        <div class="sort__best__dish">
            <div class="container__line">
                <h3 class="dish__name">SPICY NACHOS</h3>
                <div class="underline"></div>
                <p class="dish__price">$15</p>
            </div>
            <p class="dish__about">Cheddar cheese, jalapenos, queso fresco, sour cream, salsa, guacamole, beer
                cheese sauce + 3 sauces
                on
                your choice</p>
        </div>
        <div class="sort__best__dish">
            <div class="container__line">
                <h3 class="dish__name">FISH & CHIPS</h3>
                <div class="underline"></div>
                <p class="dish__price">$12</p>
            </div>
            <p class="dish__about">Our iconic dish paired with any draft or bottled beer: ale battered cod,
                coleslaw, French fries, and
                tartar sauce</p>
        </div>
        <div class="sort__best__dish">
            <div class="container__line">
                <h3 class="dish__name">CHICKEN WRAP</h3>
                <div class="underline"></div>
                <p class="dish__price">$18</p>
            </div>
            <p class="dish__about">Grilled chicken, honey bacon, tomato, fresh cucumber, lettuce, avocado, village
                sauce, and whole -
                wheat wrap.</p>
        </div>
        <div class="sort__best__dish">
            <div class="container__line">
                <h3 class="dish__name">FRIED CALAMARY</h3>
                <div class="underline"></div>
                <p class="dish__price">$12</p>
            </div>
            <p class="dish__about">Another iconic snack paired with beer: fried calamari served with spicy tartar
                saause and dill aioli.
            </p>
        </div>
        <div class="sort__best__dish">
            <div class="container__line">
                <h3 class="dish__name">BEER BOUTIQUE PIZZA</h3>
                <div class="underline"></div>
                <p class="dish__price">$18</p>
            </div>
            <p class="dish__about">Goat cheese, red onion, baby spinach, pepperoni, smoked sausages, ham, and spicy
                beer sauce</p>
        </div>
        <div class="sort__best__dish">
            <div class="container__line">
                <h3 class="dish__name">CLASSIC BURGER</h3>
                <div class="underline"></div>
                <p class="dish__price">$14</p>
            </div>
            <p class="dish__about">Beef, tomato, pickle, lettuce, cucumber, cheddar cheese, bacon, ketchup, and
                American mustard</p>
        </div>

    </div>
    <a class="menu__link" href="menu.html">WATCH ALL MENU</a>
</section>