<section id="blog" class="blog">
    <div class="blog__header">
        <p class="blog__text">Latest posts</p>
        <h2 class="blog__title">BLOG &amp; EVENTS</h2>
        <p class="blog__description">Read interesting articles about beer culture and our news.</p>
    </div>
    <div class="blog__post-container">
        <article class="blog__post">
            <img src="images/beer-tasting.png" alt="Photo of beer tasting">
            <p class="blog__post-category">EVENT</p>
            <h3 class="blog__post-title">BEER TASTING</h3>
            <p class="blog__post-description">Beer Boutique has always been something bigger than just a pub. We often
                host different events and tastings with local and world-famous beer producers.</p>
            <div class="blog__post-button">
                <a href="index.html" class="blog__post-link">READ MORE</a>
            </div>
        </article>
        <article class="blog__post">
            <img src="images/pub-pictures.png" alt="Photo of the pub">
            <p class="blog__post-category">BEER BLOG</p>
            <h3 class="blog__post-title">HOW TO FIND A PERFECT MATCH?</h3>
            <p class="blog__post-description">What goes first, the food or the beer? Here is a brief guide to choosing
                the combination of beer and snack, so that they complement each other's flavor. Spoiler: no chips in
                this list.</p>
            <div class="blog__post-button">
                <a href="index.html" class="blog__post-link">READ MORE</a>
            </div>
        </article>
        <article class="blog__post">
            <img src="images/beer-festival.png" alt="Photo of the beer festival">
            <p class="blog__post-category">EVENT</p>
            <h3 class="blog__post-title">IRISH BEER FESTIVAL</h3>
            <p class="blog__post-description">Irish Beer festival is a small celebration of the Irish tradition in
                drinking culture. Our brewmasters will introduce an exclusive line of ales especially for our guests at
                the festival.</p>
            <div class="blog__post-button">
                <a href="index.html" class="blog__post-link">READ MORE</a>
            </div>
        </article>
    </div>
</section>
