<section class="carousel-products">
    <div class="carousel-products__title">
        <h2 class="carousel-products__title-main">Bottled beer</h2>
        <h3 class="carousel-products__title-sub">BOTTLED BEER SPECIALS</h3>
        <p class="carousel-products__title-description">Appreciate the taste of craft bottled beer from the best producers</p>
    </div>
    <div class="carousel-products__block">
        <ul class="carousel-products__slide-container">
            <li class="carousel-products__slide">
                <img class="carousel-products__slide-image" src="images/craft-beer-ipa.png" alt="craft beer ipa">
                <article class="carousel-products__article">
                    <h3 class="carousel-products__article-title">IPA</h3>
                    <p class="carousel-products__article-description">Ideal for those who prefer strong and bitter beer with rich aroma.</p>
                    <ul class="carousel-products__article-details">
                        <li class="carousel-products__article-detail">ABV - 8%</li>
                        <li class="carousel-products__article-detail">IBU - 80</li>
                    </ul>
                    <p class="carousel-products__article-note">Very bitter, hoppy, with grainy notes.</p>
                </article>
            </li>
            <li class="carousel-products__slide">
                <img class="carousel-products__slide-image" src="images/lager-beer.png" alt="Lager beer">
                <article class="carousel-products__article">
                    <h3 class="carousel-products__article-title">Lager beer</h3>
                    <p class="carousel-products__article-description">This classic bottled beer features a wheat aroma and mild taste.</p>
                    <ul class="carousel-products__article-details">
                        <li class="carousel-products__article-detail">ABV - 4.2%</li>
                        <li class="carousel-products__article-detail">IBU - 12</li>
                    </ul>
                    <p class="carousel-products__article-note">Light, mild, with very little bitterness.</p>
                </article>
            </li>
            <li class="carousel-products__slide">
                <img class="carousel-products__slide-image" src="images/craft-beer.png" alt="craft beer">
                <article class="carousel-products__article">
                    <h3 class="carousel-products__article-title">bitter</h3>
                    <p class="carousel-products__article-description">"England's favorite beer" is a great choice for those who like dark varieties of beer.</p>
                    <ul class="carousel-products__article-details">
                        <li class="carousel-products__article-detail">ABV - 4.6%</li>
                        <li class="carousel-products__article-detail">IBU - 40</li>
                    </ul>
                    <p class="carousel-products__article-note">Bitter, malty, with a slight aftertaste of toasts.</p>
                </article>
            </li>
        </ul>
        <button class="carousel-products__btn-prev">Previous</button>
        <button class="carousel-products__btn-next">Next</button>
    </div>
</section>
