<section class="carousel">
    <div class="carousel__title">
        <h2>Bottled beer</h2>
        <h3>BOTTLED BEER SPECIALS</h3>
        <p>Appreciate the taste of craft bottled beer from the best producers</p>
    </div>
    <div class="carousel__block">
        <button class="carousel__btn-prev">Previous</button>
            <ul class="carousel__slide-container">
                <!-- slide -->
                <li class="carousel__slide">
                    <img src="images/craft-beer-ipa.png" alt="craft beer ipa">
                    <article class="carousel__article">
                        <h3>IPA</h3>
                        <p>Ideal for those who prefer strong and bitter beer with rich aroma.</p>
                        <ul>
                            <li>ABV - 8%</li>
                            <li>IBU - 80</li>
                        </ul>
                        <p>Very bitter, hoppy, with grainy notes.</p>
                    </article>
                </li>
                <!-- slide -->
                <li class="carousel__slide">
                    <img src="images/lager-beer.png" alt="Lager beer">
                    <article class="carousel__article">
                        <h3>Lager beer</h3>
                        <p>This classic bottled beer features a wheat aroma and mild taste.</p>
                        <ul>
                            <li>ABV - 4.2%</li>
                            <li>IBU - 12</li>
                        </ul>
                        <p>Light, mild, with very little bitterness.</p>
                    </article>
                </li>
                <!-- slide -->
                <li class="carousel__slide">
                    <img src="images/craft-beer.png" alt="craft beer">
                    <article class="carousel__article">
                        <h3>bitter</h3>
                        <p>"England's favorite beer" is a great choice for those who like dark varieties of beer.</p>
                        <ul>
                            <li>ABV - 4.6%</li>
                            <li>IBU - 40</li>
                        </ul>
                        <p>Bitter, malty, with a slight aftertaste of toasts.</p>
                    </article>
                </li>
            </ul>
        <button class="carousel__btn-next">Next</button>
    </div>
</section> 
