<div class="blog__bottom">
    <p class="blog__text">Upcoming event</p>
    <div class="blog__bottom__slider">
        <h3 class="blog__title-count">
            <button id="prevBtn" class="slider-button"><img src="images/arrow-prev.svg" alt=""></button>
            <span class="blog__title" id="sliderTitle">BAVARIAN BEER DAY</span>
            <button id="nextBtn" class="slider-button"><img src="images/arrow-next.svg" alt=""></button>
        </h3>
        <div class="blog__countdown-container">
            <img id="blog__countdown-image" src="images/three-people-drink-beer.jpg" alt="Three people drink beer">
            <div class="blog__countdown-overlay">
                <p class="blog__countdown-text">Hurry up! The number of seats is limited!</p>
            </div>
            <p class="blog__description-count" id="slideDescription">this Wednesday</p>
        </div>
        <div id="countdown" class="countdown-container"></div>
    </div>
    <div class="blog__table">
        <a class="blog__button" href="contacts.html">RESERVE A TABLE</a>
    </div>
</div>