<section class="event">
    <p class="event__text">Upcoming event</p>
    <div class="event__slider">
        <div class="event__slider-title">
            <button id="prevBtn" class="slider-button">
                <img src="images/arrow-prev.svg" alt="">
            </button>
            <span class="event__title" id="sliderTitle"></span>
            <button id="nextBtn" class="slider-button">
                <img src="images/arrow-next.svg" alt="">
            </button>
        </div>
        <p class="event__title-description" id="sliderTitleDescription"></p>
        <div class="event__countdown-container">
            <img id="event__countdown-image" src="images/three-people-drink-beer.jpg" alt="Event banner">
            <div class="event__countdown-overlay">
                <p class="event__countdown-text"></p>
            </div>
            <p class="event__description-count" id="slideDescription"></p>
        </div>
        <div id="countdown" class="event__countdown-container"></div>
    </div>
    <div class="event__table">
        <a class="event__button" href="contacts.html">RESERVE A TABLE</a>
    </div>
</section>