<footer class="footer>
    <div class="footer__container">
        <div class="footer__logo-container">
             <a href="#header"><img width="50" src="images/header/logo.svg" alt="logo Beer Boutique"></a>
        </div>
        <p>Welcome to your favorite <br> pub with draft and bottled <br>  beer from the best local <br>  and world-famous producers.</p>
        <div class="footer__social-icons-container">
            <ul>
                <li>
                    <a href="https://www.instagram.com/" class="footer__social-icons-instagram">icon-instagram</a>
                </li>
                <li>
                     <a href="https://twitter.com/" class="footer__social-icons-twitter">icon-twitter</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" class="footer__social-icons-youtube">icon-youtube</a>
                </li>
                <li>
                    <a href="https://www.tripadvisor.com/" class="footer__social-icons-tripadvisor">icons-tripadvisor</a>
                </li>
            </ul> 
        </div>
    </div>
    <div class="footer__navigation">
        <nav class="footer__menu">
            <p>NAVIGATION</p>
            <ul>
                <li>
                    <a href="about.html" class="footer__menu-item">About us</a>
                </li>
                <li>
                    <a href="menu.html" class="footer__menu-item">Menu</a>
                </li>
                <li>
                    <a href="#testimonials.partial.html" class="footer__menu-item">Testimonials</a>
                </li>
                <li>
                    <a href="contacts.html" class="footer__menu-item">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="footer__contacts contacts">
        <p>CONTACTS</p>
        <div class="contacts__menu">
            <ul>
                <li>
                    <div class="contacts__phone">
                        <svg width="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="max-width:100%" height="100%"><path d="M90.1,75.1l-0.5-1c-1.4-3.3-18.6-8.3-20-8.4l-1.1,0.1c-2.1,0.4-4.4,2.3-8.9,6.2c-0.9,0.8-2.1,1-3.2,0.4  c-5.9-3.3-13.1-9.9-16.7-13.9c-3.9-4.3-8.6-11.4-10.8-17.1c-0.4-1.1,0-2.3,0.8-3.1c5.1-4.6,7.3-6.8,7.5-9.2c0.1-1.4-2.9-19.1-6-20.8  l-0.9-0.6c-2-1.3-5-3.2-8.3-2.5c-0.8,0.2-1.6,0.5-2.3,0.9C17.5,7.5,12,11.3,9.5,16.2C8,19.3,7.3,47.4,28.3,71.1  c20.8,23.5,46.5,24.5,50.3,23.7l0.1,0l0.3-0.1c5.2-1.9,9.6-6.8,11.3-8.9C93.4,82.1,91.3,77.6,90.1,75.1z" style="" fill="currentColor"></path></svg>
                        <a href="tel:+12345678900">+1 (234) 567 89 00</a>
                    </div>
                </li>
                <li>
                    <div class="contacts__email">
                        <svg width="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="max-width:100%" height="100%"><polygon points="50,61.447 99.998,27.447 99.998,83 0,83 0,27.447 " style="" fill="currentColor"></polygon><polygon points="100,17 0,17 50,51 " style="" fill="currentColor"></polygon></svg>
                        <a href="mailto:beerboutique@email.com">beerboutique@email.com</a>
                    </div>
                    
                </li>
                <li>
                    <div class="contacts__location">
                        <svg width="50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" viewBox="0 0 39 55" version="1.1" x="0px" y="0px" style="max-width:100%" height="100%"><title style="" fill="currentColor">305 - Location (Solid)</title><desc style="" fill="currentColor">Created with Sketch.</desc><g stroke="currentColor" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage" style=""><g sketch:type="MSLayerGroup" fill="currentColor" style=""><path d="M33.383,5.617 C29.761,1.995 24.945,0 19.823,0 C14.7,0 9.885,1.995 6.264,5.617 C-0.44,12.319 -1.273,24.929 4.46,32.569 L19.823,54.757 L35.164,32.6 C40.919,24.929 40.086,12.319 33.383,5.617 L33.383,5.617 Z M20,26 C16.141,26 13,22.859 13,19 C13,15.141 16.141,12 20,12 C23.859,12 27,15.141 27,19 C27,22.859 23.859,26 20,26 L20,26 Z" sketch:type="MSShapeGroup" style="" fill="currentColor"></path></g></g></svg>
                        55 Irving Pl, New York, NY 10003
                    </div>
                </li>
                <li>
                    <div class="contacts__office hours">
                        <svg width="10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="max-width:100%" height="100%"><g style="" fill="currentColor"><path fill="currentColor" d="M55.161,1.781C29.504-0.103,7,20.014,4.893,46.716C2.798,73.4,21.911,96.578,47.593,98.461   c25.645,1.867,48.162-18.241,50.248-44.935C99.948,26.823,80.831,3.666,55.161,1.781z M82.296,69.312L47.738,52.847l-0.22-32.237   l5.852-0.033l0.191,28.603l31.256,14.89L82.296,69.312z" style=""></path></g></svg>
                        PM — 02 AM
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__subscribe">
        <p>SUBSCRIBE</p>
        <form action="https://formspree.io/f/moqzopek" method="post">
            <input type="email" name="email" placeholder="Email*" required>
            <button type="submit">SUBSCRIBE</button>
        </form>
    </div>
    <div id="site-info" class="footer__ copyright">
        <p>© Created by All rights Reserved</p>
    </div>
</footer>