<header class="header">
    <div class="header__logo-container">
        <a class="header-logo" href="#"><img src="images/header/logo.svg" alt="logo"></a>
    </div>
    <nav class="header__navogation-container">
        <ul class="header__navigation">
            <li class="header__navigation-item"><a href="#">About us</a></li>
            <li class="header__navigation-item"><a href="#">Menu</a></li>
            <li class="header__navigation-item"><a href="#">Friday deal</a></li>
            <li class="header__navigation-item"><a href="#">Blog</a></li>
            <li class="header__navigation-item"><a href="#">Contacts</a></li>
        </ul>
    </nav>
    <!--   
        <div class="header__apps-container">
            <ul class="header__apps">
                <li class="header__apps-item><a href="#"><img src="" alt="Facebook"></a></li>
                <li class="header__apps-item><a href="#"><img src="" alt="Instagram"></a></li>
                <li class="header__apps-item><a href="#"><img src="" alt="Sova"></a></li>
            </ul>
        </div>
         -->

</header>