
<section class="menu__bar">
    <p class="title__bar">Bar</p>
    <h2>BAR MENU</h2>
    <h4>We offer bottled beers by local producers, our own draft beer, and a variety of cocktails.</h4>
    <div class="bar__carousel carousel">
        <button class="carousel__btn-prev">Prev</button>
        <div class="carousel__slide-container">
            <div class="card__bottled-beer">
                <div>
                    <h3 class="bar__name">Indian pale ale</h3>
                    <p class="bar__price">$4</p>
                    <p>Strong and bitter beer with intense aroma</p>
                </div>
                <div>
                    <h3 class="bar__name">Hot wings</h3>
                    <p class="bar__price">$3.50</p>
                    <p>Served with barbecue sause and coleslaw</p>
                </div>
                <div>
                    <h3 class="bar__name">LAMB GYRO</h3>
                    <p class="bar__price">$4</p>
                    <p>Lamb,tzatziki sause,tomato, cucumber & lettuce in pita bread</p>
                </div>
                <div>
                    <h3 class="bar__name">LAMB CHOPS</h3>
                    <p class="bar__price">$5</p>
                    <p>Marinated herb roasted rack of lamb chops with balsamic sauce</p>
                </div>
                <div>
                    <h3 class="bar__name">PAN ROASTED PORK CHOP</h3>
                    <p class="bar__price">$5.50</p>
                    <p>Served in a bourbon & honey glaze with berry sauce</p>
                </div>
            </div>
            <div class="card__beer-on-tap">
                <div>
                    <h3 class="bar__name">SPICY NACHOS</h3>
                    <p class="bar__price">$5</p>
                    <p>Cheddar cheese, jalapenos, queso fresco, sour cream, salsa</p>
                </div>
                <div>
                    <h3 class="bar__name">FISH & CHIPS</h3>
                    <p class="bar__price">$6</p>
                    <p>Ale battered cod, coleslaw, French fries, and tartar sauce</p>
                </div>
                <div>
                    <h3 class="bar__name">FRIED CALAMARY</h3>
                    <p class="bar__price">$7</p>
                    <p>Fried calamari served with spicy tartar sauce and dill aioli</p>
                </div>
                <div>
                    <h3 class="bar__name">CHICKEN WRAP</h3>
                    <p class="bar__price">$8</p>
                    <p>Grilled chicken, bacon, tomato, cucumber, avocado, village sauce</p>
                </div>
                <div>
                    <h3 class="bar__name">MAC & CHEESE BITES</h3>
                    <p class="bar__price">$9</p>
                    <p>With maple bacon and cheese sauce</p>
                </div>
            </div>
            <div class="card__cocktails">
                <div>
                    <h3 class="bar__name">CLASSIC BURGER</h3>
                    <p class="bar__price">$10</p>
                    <p>Beef, tomato, pickle, lettuce, cucumber, cheddar cheese, bacon</p>
                </div>
                <div>
                    <h3 class="bar__name">BEEF KING</h3>
                    <p class="bar__price">$11</p>
                    <p>Beef brisket, Swiss cheese, caramelised onions</p>
                </div>
                <div>
                    <h3 class="bar__name">DOUBLE CHEESEBURGER</h3>
                    <p class="dbar__price">$10</p>
                    <p>Double beef patties with cheese, tomato, topped with mozzarella</p>
                </div>
                <div>
                    <h3 class="bar__name">CHICKEN BURGER</h3>
                    <p class="bar__price">$11</p>
                    <p>Chicken breast, soaked with hot sauce & blue cheese slaw</p>
                </div>
                <div>
                    <h3 class="bar__name">BOUTIQUE BURGER</h3>
                    <p class="bar__price">$13</p>
                    <p>Maple bacon, tomato, red onions topped off with a fried egg</p>
                </div>
            </div>
        </div>
        <button class="carousel__btn-next">Next</button>
    </div>
</section>
