<div>
    <img class="menu__food-image" src="images/glass-of-beer.png" alt="glass-of-beer">
</div>
<section class="menu__food">
    <p class="title__food">Food</p>
    <h2>FOOD MENU</h2>
    <h4>Explore our snacks, burgers, and main dishes.</h4>
    <div class="food__carousel">
        <div class="menu__slide-container">
            <div class="menu-carousel__item">
                <span>meat </span>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">Sesame chicken strips</h3>
                        <div class="underline"></div>
                        <p class="food__price">$13</p>
                    </div>
                    <p class="food__about">Chicken breasts in Jack Daniel's glaze with toasted sesame seeds</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">Hot wings</h3>
                        <div class="underline"></div>
                        <p class="food__price">$15</p>
                    </div>
                    <p class="food__about">Served with barbecue sause and coleslaw</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">LAMB GYRO</h3>
                        <div class="underline"></div>
                        <p class="food__price">$20</p>
                    </div>
                    <p class="food__about">Lamb,tzatziki sause,tomato, cucumber & lettuce in pita bread</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">LAMB CHOPS</h3>
                        <div class="underline"></div>
                        <p class="food__price">$22</p>
                    </div>
                    <p class="food__about">Marinated herb roasted rack of lamb chops with balsamic sauce</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">PAN ROASTED PORK CHOP</h3>
                        <div class="underline"></div>
                        <p class="food__price">$23</p>
                    </div>
                    <p class="food__about">Served in a bourbon & honey glaze with berry sauce</p>
                </div>
            </div>
            <div class="menu-carousel__item">
                <span>snacks </span>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">SPICY NACHOS</h3>
                        <div class="underline"></div>
                        <p class="food__price">$15</p>
                    </div>
                    <p class="food__about">Cheddar cheese, jalapenos, queso fresco, sour cream, salsa</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">FISH & CHIPS</h3>
                        <div class="underline"></div>
                        <p class="food__price">$12</p>
                    </div>
                    <p class="food__about">Ale battered cod, coleslaw, French fries, and tartar sauce</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">FRIED CALAMARY</h3>
                        <div class="underline"></div>
                        <p class="food__price">$12</p>
                    </div>
                    <p class="food__about">Fried calamari served with spicy tartar sauce and dill aioli</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">CHICKEN WRAP</h3>
                        <div class="underline"></div>
                        <p class="food__price">$18</p>
                    </div>
                    <p class="food__about">Grilled chicken, bacon, tomato, cucumber, avocado, village sauce</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">MAC & CHEESE BITES</h3>
                        <div class="underline"></div>
                        <p class="dish__price">$10</p>
                    </div>
                    <p class="food__about">With maple bacon and cheese sauce</p>
                </div>
            </div>
            <div class="menu-carousel__item">
                <span>burgers</span>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">CLASSIC BURGER</h3>
                        <div class="underline"></div>
                        <p class="food__price">$14</p>
                    </div>
                    <p class="food__about">Beef, tomato, pickle, lettuce, cucumber, cheddar cheese, bacon</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">BEEF KING</h3>
                        <div class="underline"></div>
                        <p class="food__price">$18</p>
                    </div>
                    <p class="food__about">Beef brisket, Swiss cheese, caramelised onions</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">DOUBLE CHEESEBURGER</h3>
                        <div class="underline"></div>
                        <p class="food__price">$22</p>
                    </div>
                    <p class="food__about">Double beef patties with cheese, tomato, topped with mozzarella</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">CHICKEN BURGER</h3>
                        <div class="underline"></div>
                        <p class="food__price">$18</p>
                    </div>
                    <p class="food__about">Chicken breast, soaked with hot sauce & blue cheese slaw</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="food__name">BOUTIQUE BURGER</h3>
                        <div class="underline"></div>
                        <p class="food__price">$19</p>
                    </div>
                    <p class="food__about">Maple bacon, tomato, red onions topped off with a fried egg</p>
                </div>
            </div>
        </div>
        <button class="food__btn-prev"><img src="images/arrow-prev.svg" alt=""></button>
        <button class="food__btn-next"><img src="images/arrow-next.svg" alt=""></button>
    </div>


</section>