<div class="menu__line">MENU</div>
<section class="section menu__bar">
    <p class="title__bar">Bar</p>
    <h2>BAR MENU</h2>
    <h4>We offer bottled beers by local producers, our own draft beer, and a variety of cocktails.</h4>
    <div class="bar__carousel">
        <div class="carousel__slide-container">
            <div class="carousel__item">
                <span>BOTTLED BEER</span>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">Indian pale ale</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$4</p>
                    </div>
                    <p class="bar__about">Strong and bitter beer with intense aroma</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">lager beer</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$3.50</p>
                    </div>
                    <p class="bar__about">This beer is not bitter at all and features wheat aroma</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">bitter</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$4</p>
                    </div>
                    <p class="bar__about">"England's favorite beer", dark and intense</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">stout</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$5</p>
                    </div>
                    <p class="bar__about">This frothy beer has a medium strength and a pleasant aroma</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">caramel ale</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$5.50</p>
                    </div>
                    <p class="bar__about">Caramel malt sweetness accompanied by spicy and citrusy hops</p>
                </div>
            </div>
            <div class="carousel__item">
                <span>BEER ON TAP</span>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">blue style</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$5</p>
                    </div>
                    <p class="bar__about">Brewed with oats and spiced with orange peel</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">boutique ipa</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$6</p>
                    </div>
                    <p class="bar__about">Brewed with oats and spiced with orange peel</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">absolute porter</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$7</p>
                    </div>
                    <p class="bar__about">Chocolate peanut butter porter with rich taste</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">belgian dream</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$8</p>
                    </div>
                    <p class="bar__about">A traditional Belgian-style wheat ale with whispers of orange</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">beer boutique lager</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$9</p>
                    </div>
                    <p class="bar__about">Crisp, clean and slightly dry with some residual sweetness</p>
                </div>
            </div>
            <div class="carousel__item">
                <span>COCTAILS</span>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">monkey sour</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$10</p>
                    </div>
                    <p class="bar__about">Beef, tomato, pickle, lettuce, cucumber, cheddar cheese, bacon</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">old fashioned</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$11</p>
                    </div>
                    <p class="bar__about">Monkey Shoulder whisky, strawberry, lemon, sugar</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">pina colada</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$10</p>
                    </div>
                    <p class="bar__about">Buffalo Trace bourbon, demerara, Angostura Bitters</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">mojito</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$11</p>
                    </div>
                    <p class="bar__about">Havana Club 3 Year Old rum, coconut, pineapple</p>
                </div>
                <div class="sort__item">
                    <div class="container__line">
                        <h3 class="bar__name">bramble</h3>
                        <div class="underline"></div>
                        <p class="bar__price">$13</p>
                    </div>
                    <p class="bar__about">Tanqueray London Dry gin, crème de mure, lemon</p>
                </div>
            </div>
            
        </div>
        <button class="bar__btn-prev"><img src="images/arrow-prev.svg" alt=""></button>
        <button class="bar__btn-next"><img src="images/arrow-next.svg" alt=""></button>
    </div>
</section>