<section class="menu">
  <div class="container">
    <h2 class="menu__title title-section"> 
      Menu
    </h2>
    <p class="menu__description">
      DOWNLOAD OUR MENU
    </p>
    <p class="menu__subtext">
      Explore our food and drink offers.
    </p>
    <ul class="menu__list menu-list">
      <li class="menu-list__item">
        <div class="menu-list__img-wrapper">
          <img class="menu-list__img" src="./images/bar_menu.png" alt="bar menu">
        </div>
        <div class="menu-list__content-main-wrapper">
          <div class="menu-list__content-secondary-wrapper">
            <h3 class="menu-list__title">
              BAR MENU
            </h3>
            <p class="menu-list__content">
              We are proud to introduce our collection of crafted beers. 
              Try our special recipes of beers and ciders separately or 
              in a beer flight. If you’re not much into beer, order some wine, 
              a spirit, or a cocktail. We also have a broad selection of soft drinks.
            </p>
            <a class="menu-list__linck" href="#">
              WATCH FULL MENU
            </a>
          </div>
        </div>
      </li>
      <li class="menu-list__item">
        <div class="menu-list__img-wrapper">
          <img class="menu-list__img" src="./images/food_menu.png" alt="food menu">
        </div>
        <div class="menu-list__content-main-wrapper">
          <div class="menu-list__content-secondary-wrapper">
            <h3 class="menu-list__title">
              FOOD MENU
            </h3>
            <p class="menu-list__content">
              We adjust our menu to any tastes and needs. 
              Apart from an impressive grill menu, we have 
              vegetarian and gluten-free options. 
              Try a single meal or share a plate with the company. 
              Also, ask a waiter about the best gastronomic match for your drink.
            </p>
            <a class="menu-list__linck" href="#">
              WATCH FULL MENU
            </a>
          </div>
        </div>
      </li>
      <li class="menu-list__item">
        <div class="menu-list__img-wrapper">
          <img class="menu-list__img" src="./images/happy_hour.png" alt="happy hour">
        </div>
        <div class="menu-list__content-main-wrapper">
          <div class="menu-list__content-secondary-wrapper">
            <h3 class="menu-list__title">
              HAPPY HOUR
            </h3>
            <p class="menu-list__content">
              This is a special offer available from 3 to 5 p.m. 
              Check the Happy Hour menu online or ask a waiter about 
              the special offer, so you can save your money and enjoy 
              a delicious meal. Hours may change from time to time, so make sure to subscribe.
            </p>
            <a class="menu-list__linck" href="#">
              WATCH FULL MENU
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
