<section class="fallout" id="fallout">
    <div class="music" id="music">
        <h2 class="music__title">Do you want to play music?</h2>
        <div class="music__button-group">
            <button id="music__yes-btn">Yes</button>
            <button id="music__no-btn">No</button>
        </div>
        <div class="music__volume-slider">
            <input type="range" id="music__volume-slider" min="0" max="100" step="1" value="50">
        </div>
    </div>
    <audio id="music__audio" src="music/mr-brightside.mp3" loop></audio>
</section>