<section class="our-team">
    <div class="our-team__description">
        <span class="our-team__suptitle">Our professional team</span>
        <span class="our-team__title">meet our team</span>
        <span class="our-team__text">Learn more about our brewers, bartenders, and chefs.</span>
    </div>

    <div class="our-team__members">
        <div class="member">
            <div class="member__picture">
                <img src="images/our_team/beer_master.png" alt="beer_master" class="member__img">
            </div>

            <div class="member__description">
                <h3 class="member__name">JOHN WASKER</h3>
                <p class="member__position">beer master</p>
                <div class="member__content">
                    <p class="member__legend">John is a talented and dedicated beer master. Not a single beer recipe reaches
                    our guests without his approval. He can find a perfect balance of tastes, maintaining the precision
                    of the brewing process.
                    </p>
                </div>   
            </div>
        </div>
        <div class="member">
            <div class="member__picture">
                <img src="images/our_team/chief.png" alt="chief" class="member__img">
            </div>

            <div class="member__description">
                <h3 class="member__name">ANTHONY KIEDIS</h3>
                <p class="member__position">chief</p>    
                <div class="member__content">   
                    <p class="member__legend">Being a generally versatile cook, Andrew is a sucker for grill food. Any meal
                    involving grilled fish, meats, or vegetables lies within his masterful cooking skills. He creates
                    great pairings for our beer.
                    </p> 
                </div>                
            </div>
        </div>
        <div class="member">
            <div class="member__picture">
                <img src="images/our_team/manager.png" alt="manager" class="member__img">
            </div>

            <div class="member__description">
                <h3 class="member__name">TOMAS WELSH</h3>
                <p class="member__position">manager</p>   
                <div class="member__content">
                    <p class="member__legend">He is the universal soldier of Beer Boutique. Thomas is a person that can help
                    in the kitchen, bring the orders to guests, and watch over the stock. He keeps things in line even
                    on the busiest hours.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>