<section class="our-team">
    <div class="our-team__description">
        <span class="our-team__suptitle">Our professional team</span>
        <span class="our-team__title">meet our team</span>
        <span class="our-team__text">Learn more about our brewers, bartenders, and chefs.</span>
    </div>

    <div class="our-team__members">
        <div class="member">
            <div class="member__picture">
                <img src="images/our_team/beer_master.png" alt="beer_master" class="member__img">
            </div>

            <div class="member__description">
                <h3 class="member__name">JOHN WASKER</h3>
                <span class="member__position">BEER MASTER</span>
                <p class="member__legend">John is a talented and dedicated beer master. 
                    Not a single beer recipe reaches our guests without his approval. 
                    He can find a perfect balance of tastes,
                    maintaining the precision of the brewing process.
                </p>
            </div>
        </div>
    </div>

</section>