<section class="our-story">
    <div class="our-story__post-container">
        <article class="our-story__post">
            <p class="our-story__pre-title">Our story</p>
            <h2 class="our-story__title">ABOUT BEER BOUTIQUE</h2>
            <p class="our-story__description">Welcome to Beer Boutique, your favorite pub serving the best draft and bottled beer.</p>
            <p class="our-story__text">We strive to promote the culture of drinking beer as something beyond a football match. It is a drink with a long history and an immense depth of flavor, which is why we build our menu foods around their compatibility with the beers. Beer Boutique is a place to find the favorite beer flavor and learn more about the drink.</p>
            <div class="our-story__button">
                <a href="#" class="our-story__link">MORE ABOUT US</a>
            </div>
        </article>
    </div>
    <div class="our-story__img-container">
        <img src="images/our-story-post.png" alt="Photo of two men in a bar with beer">
    </div>
</section>
