<section class="partners__container">
      <button class="carousel__btn-prev">
            <img src="images/buttom-icon-arrow-left.png" alt="icon previous slide">
      </button>
      <div class="partners__container-carousel">
            <ul class="carousel-slide">
                  <li class="carousel-item">
                        <img class="carousel-img" src="images/logo_beer-carlsberg.svg" alt="logo Carlsberg beer">
                  </li>
                  <li class="carousel-item">
                        <img class="carousel-img" src="images/logo_budweiser.svg" alt="logo Budweiser ">
                  </li>
                  <li class="carousel-item" >
                        <img class="carousel-img" src="images/logo_beer-heineken.svg" alt="logo Heineken">
                  </li>
                  <li class="carousel-item">
                        <img class="carousel-img" src="images/logo_beer-corona-extra.svg" alt="logo Corona Extra">
                  </li>
                  <li class="carousel-item">
                        <img class="carousel-img" src="images/logo_beer-miller.svg" alt="logo Miller">
                  </li>
                  <li class="carousel-item">
                        <img class="carousel-img" src="images/logo_beer-hoegaarden.svg" alt="logo Hoegaarden">                            
                  </li>
          </ul>
    
    </div>
    <button class="carousel__btn-next">
          <img src="images/buttom-icon-arrow-right.png" alt="icon next slide">
    </button>
</section>