<section class="partners__container">
    <div class="partners__container carousel">
          <button class="carousel__btn-prev">
                <img width="20" src="images/buttom-icon-arrow-left.png" alt="icon previous slide">
          </button>
          <ul>
                <li>
                      <figure class="carousel-item-carlsberg">
                            <img width="200" src="images/logo_beer-carlsberg.svg" alt="logo Carlsberg beer">
                      </figure>
                </li>
                <li>
                      <figure class="carousel-item-budweiser">
                            <img width="200" src="images/logo_budweiser.svg" alt="logo Budweiser ">
                      </figure>
                </li>
                <li>
                      <figure class="carousel-item-heineken">
                            <img width="200" src="images/logo_beer-heineken.svg" alt="logo Heineken">
                      </figure>
                </li>
                <li>
                      <figure class="carousel-item-corona">
                            <img width="200" src="images/logo_beer-corona-extra.svg" alt="logo Corona Extra">
                      </figure>
                </li>
                <li>
                      <figure class="carousel-item-miller">
                            <img width="200" src="images/logo_beer-miller.svg" alt="logo Miller">
                      </figure>
                </li>
                <li>
                      <figure class="carousel-item-hoegaarden">
                            <img width="200" src="images/logo_beer-hoegaarden.svg" alt="logo Hoegaarden">
                      </figure>                              
                </li>
          </ul>
    <button class="carousel__btn-next">
          <img width="20" src="images/buttom-icon-arrow-right.png" alt="icon next slide">
    </button>
    </div>
</section>