<section class="products">
    <h2 class="products__title title"></h2>
    <p class="products__subtitle subtitle"></p>
    <p class="products__description description"></p>
    <div class="products__carousel">
        <button class="products__carousel--btn-prev"><img src="images/arrow-prev.svg" alt="arrow previous"></button>
        <div class="products__carousel-container">
        </div>
        <button class="products__carousel--btn-next"><img src="images/arrow-next.svg" alt="arrow next"></button>
    </div>
</section>