<section class="products">
    <h2 class="products__title">Bottled beer</h2>
    <p class="products__subtitle">BOTTLED BEER SPECIALS</p>
    <p class="products__description">Appreciate the taste of craft bottled beer from the best producers.</p>
    <div class="products__carousel carousel">
        <button class="carousel__btn-prev">Previous</button>
        <ul class="carousel__slide-container">
            <li class="carousel__slide item1">
                <div class="carousel__slide-image"><img src="images/craft-beer-ipa.png" alt="craft beer ipa"></div>
                <article class="carousel__article">
                    <h3 class="carousel__article-title">IPA</h3>
                    <p class="carousel__article-description">Ideal for those who prefer strong and bitter beer with rich aroma.</p>
                    <ul class="carousel__article-details">
                        <li class="carousel__article-detail">ABV - 8%</li>
                        <li class="carousel__article-detail">IBU - 80</li>
                    </ul>
                    <p class="carousel__slide-note">Very bitter, hoppy, with grainy notes.</p>
                </article>
            </li>
            <li class="carousel__slide item2">
                <div class="carousel__slide-image"><img src="images/lager-beer.png" alt="Lager beer"></div>
                <article class="carousel__article">
                    <h3 class="carousel__article-title">Lager beer</h3>
                    <p class="carousel__article-description">This classic bottled beer features a wheat aroma and mild taste.</p>
                    <ul class="carousel__article-details">
                        <li class="carousel__article-detail">ABV - 4.2%</li>
                        <li class="carousel__article-detail">IBU - 12</li>
                    </ul>
                    <p class="carousel__slide-note">Light, mild, with very little bitterness.</p>
                </article>
            </li>
            <li class="carousel__slide item3">
                <div class="carousel__slide-image"><img src="images/craft-beer.png" alt="craft beer"></div>
                <article class="carousel__article">
                    <h3 class="carousel__article-title">bitter</h3>
                    <p class="carousel__article-description">"England's favorite beer" is a great choice for those who like dark varieties of beer.</p>
                    <ul class="carousel__article-details">
                        <li class="carousel__article-detail">ABV - 4.6%</li>
                        <li class="carousel__article-detail">IBU - 40</li>
                    </ul>
                    <p class="carousel__slide-note">Bitter, malty, with a slight aftertaste of toasts.</p>
                </article>
            </li>
        </ul>
        <button class="carousel__btn-next">Next</button>
    </div>
</section>