<section class="products">
    <h2 class="products__title">Bottled beer</h2>
    <p class="products__subtitle">BOTTLED BEER SPECIALS</p>
    <p class="products__text">Appreciate the taste of craft bottled beer from the best producers.</p>
    <div class="products__carousel carousel">
        <button class="carousel__btn-prev">Previous</button>
        <div class="carousel__slide-container">
            <article class="carousel__slide">
                <h3 class="carousel__slide--title">IPA</h3>
                <p class="carousel__slide--description">Ideal for those who prefer strong and bitter beer with rich aroma.</p>
                <ul class="carousel__slide--details">
                    <li class="carousel__slide--detail">ABV - 8%</li>
                    <li class="carousel__slide--detail">IBU - 80</li>
                </ul>
                <p class="carousel__slide--note">Very bitter, hoppy, with grainy notes.</p>
            </article>
            <article class="carousel__slide">
                <h3 class="carousel__slide--title">Lager beer</h3>
                <p class="carousel__slide--description">This classic bottled beer features a wheat aroma and mild taste.</p>
                <ul class="carousel__slide--details">
                    <li class="carousel__slide--detail">ABV - 4.2%</li>
                    <li class="carousel__slide--detail">IBU - 12</li>
                </ul>
                <p class="carousel__slide--note">Light, mild, with very little bitterness.</p>
            </article>
            <article class="carousel__slide">
                <h3 class="carousel__slide--title">bitter</h3>
                <p class="carousel__slide--description">"England's favorite beer" is a great choice for those who like dark varieties of beer.</p>
                <ul class="carousel__slide--details">
                    <li class="carousel__slide--detail">ABV - 4.6%</li>
                    <li class="carousel__slide--detail">IBU - 40</li>
                </ul>
                <p class="carousel__slide--note">Bitter, malty, with a slight aftertaste of toasts.</p>
            </article>
        </div>
        <button class="carousel__btn-next">Next</button>
    </div>
</section>