<section class="Testimonials">
    <div class="Testimonials__description">
        <h2 class="Testimonial__suptitle">Testimonials</h2>
        <p class="Testimonial__title">our clients about us</p>
        <p class="Testimonial__text">We're so happy to receive your feedback!</p>
    </div>

    <div class="Testimonials__cards">

        <div class="card">
            <div class="card__picture">
                <img src="../images/Testimonials/first_avatar.png" alt="avatar" class="avatar">
            </div>    
        </div>

    </div>

</section>
