<section class="what-we-offer">
  <div class="what-we-offer__content">
    <h2 class="what-we-offer__title">
      What we offer
    </h2>
    <p class="what-we-offer__description">
      COLD <span>BEER<span> AND TASTY SNACKS
    </p>
    <p class="what-we-offer__subtext">
      We offer a simple and tasty menu for true beer connoisseurs.
    </p>
    <a href="#" class="what-we-offer__link">
      LEARN MORE
    </a>
  </div>
  <ul class="what-we-offer__list">
    <li class="what-we-offer__item">
      <img class="what-we-offer__image" src="./images/what-we-offer/bottled_beer-icon.svg" alt="bottled beer">
      <h3 class="what-we-offer__item-title">
        BOTTLED BEER
      </h3>
      <p class="what-we-offer__item-description">
        We sell craft bottled beer from the best local and foreign producers.
      </p>
    </li>
    <li class="what-we-offer__item">
      <img class="what-we-offer__image" src="./images/what-we-offer/snacks-icon.svg" alt="snacks">
      <h3 class="what-we-offer__item-title">
        SNACKS
      </h3>
      <p class="what-we-offer__item-description">
        Explore the fresh dishes in our menu that will complement your drink.
      </p>
    </li>
    <li class="what-we-offer__item">
      <img class="what-we-offer__image" src="./images/what-we-offer/beer_on_tap-icon.svg" alt="beer on tap">
      <h3 class="what-we-offer__item-title">
        BEER ON TAP
      </h3>
      <p class="what-we-offer__item-description">
        Our waiters will gladly tell you about the draft craft beer available today.
      </p>
    </li>
    <li class="what-we-offer__item">
      <img class="what-we-offer__image" src="./images/what-we-offer/coctails-icon.svg" alt="coctails">
      <h3 class="what-we-offer__item-title">
        COCKTAILS
      </h3>
      <p class="what-we-offer__item-description">
        Enjoy your favorite cocktails, from classic long drinks to exotic mixes.
      </p>
    </li>
  </ul>
</section>