<section class="what-we-offer-section">
  <div class="we-offer">
    <h2 class="title-section">
      What we offer
    </h2>
    <p>
      COLD <span>BEER<span> AND TASTY SNACKS
    </p>
    <p>
      We offer a simple and tasty menu for true beer connoisseurs.
    </p>
    <a href="#">
      LEARN MORE
    </a>
  </div>
  <ul class="offer-list">
    <li class="offer-item">
      <img class="offer-img" src="./images/what-we-offer/bottled_beer-icon.svg" alt="bottled beer">
      <h3>
        BOTTLED BEER
      </h3>
      <p>
        We sell craft bottled beer from the best local and foreign producers.
      </p>
    </li>
    <li class="offer-item">
      <img class="offer-img" src="./images/what-we-offer/snacks-icon.svg" alt="snacks">
      <h3>
        SNACKS
      </h3>
      <p>
        Explore the fresh dishes in our menu that will complement your drink.
      </p>
    </li>
    <li class="offer-item">
      <img class="offer-img" src="./images/what-we-offer/beer_on_tap-icon.svg" alt="beer on tap">
      <h3>
        BEER ON TAP
      </h3>
      <p>
        Our waiters will gladly tell you about the draft craft beer available today.
      </p>
    </li>
    <li class="offer-item">
      <img class="offer-img" src="./images/what-we-offer/coctails-icon.svg" alt="coctails">
      <h3>
        COCKTAILS
      </h3>
      <p>
        Enjoy your favorite cocktails, from classic long drinks to exotic mixes.
      </p>
    </li>
  </ul>
</section>
